@import "./base/fonts";
@import "./base/vars";
@import "./base/print";
@import "./base/mixins";


body {
    font-size: 16px;
    font-weight: normal;
    font-family: $first_font;
}

body .onmodal {
    overflow: hidden;
}

a {
    font-family: $first_font;
}

input {
    font-family: $first_font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: $primary;
    font-weight: bold;
    font-family: $sec_font;
}

.sec-font {
    font-family: $sec_font;
}

.primary-font {
    font-family: $primary_font;
}

h1,
h2 {
    font-size: $title-mobile;
}

h3 {
    font-size: $subtitle-mobile;
}

.title {
    font-family: $sec_font;
}

.text {
    font-family: $first_font;
}

.subtitle {
    font-family: $third_font;
}